/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.bg-img
{
    background-image: url("PicsArt_05-31-12.21.13.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    weight:500;
    height: 500;
    
}
.ra-va{
    text-align: center;
    text-decoration-style: bold;
}
.wow-r{
    text-align: center;
   color: black;
   overflow: hidden;
   padding: 15px 15px;
   margin: 0px;
   background-color: #2B1B17;
}
.wow-r a{
    text-decoration: none;
    text-align: center;
    background-color:black;
    color: white;
    font-size: 16;
    padding: 14px 16px;
    float: left;

}
.wow-r a:hover{
    background-color: #ddd;
  color: black;
}
.footer{
    background-color: black;
    color: white;
    font-size: 18;
    background-size: 15px;
    text-align: center;
}
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
